<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="VATSIMURL" value="http://cluster.data.vatsim.net/" />
    <add key="VATSIMDATAFILE" value="vatsim-data.txt" />
    <add key="VATSIMINTERVAL" value="5" />
    <add key="ASCIICOLORVATBOARD" value="7" />
    <add key="ASCIICOLORARRIVALS" value="2" />
    <add key="ASCIICOLORDEPARTURES" value="6" />
  </appSettings>
</configuration>

<!--
COLOR CODES

Black	0
The color black.

Blue	9
The color blue.

Cyan	11
The color cyan (blue-green).

DarkBlue	1
The color dark blue.

DarkCyan	3
The color dark cyan (dark blue-green).

DarkGray	8
The color dark gray.

DarkGreen	2
The color dark green.

DarkMagenta	5
The color dark magenta (dark purplish-red).

DarkRed	4
The color dark red.

DarkYellow	6
The color dark yellow (ochre).

Gray	7
The color gray.

Green	10
The color green.

Magenta	13
The color magenta (purplish-red).

Red	12
The color red.

White	15
The color white.

Yellow	14
The color yellow.-->